html {
    line-height: 1.3;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding: 1rem;
}

body {
    background: linear-gradient(to bottom, #9cf5ff, #a6ddfd, #a6bbfa, #a6bbfa, #a6ddfd, #9cf5ff);
    background-size: 100% 200vh;
    /*animation: bg-animation 10s infinite;*/
}

@keyframes bg-animation {
    from { background-position-y: 200vh; }
    to { background-position-y: 400vh; }
}

.feather {
    width: 2rem;
    height: 2rem;
}

.btn {
    font-size: 1.5rem;
    border: 0.25rem solid rgb(31, 65, 126);
    border-radius: 0;
}

.btn:focus, .btn:active, .btn:active:focus, .btn:disabled { 
    outline: 0 !important;
    box-shadow: none !important;
    border: 0.25rem solid rgb(31, 65, 126) !important;
}

.btn-primary {
    background: linear-gradient(to bottom, rgb(7, 38, 23) 0%, rgb(40, 119, 18) 25%, rgb(40, 119, 18) 50%, rgb(255, 255, 255) 51%);
    background-size: 400% 400%;
}

.btn-primary:hover {
    border: 0.25rem solid rgb(31, 65, 126); 
    background-position-y: 10%;
}

.btn-primary:focus:active {
    color: rgb(40, 119, 18) !important;
    background-position-y: 100%;
}

.btn-secondary:focus, .btn-secondary:active, .btn-secondary:active:focus, .btn-secondary:disabled { 
    border: 0.1rem solid rgb(71, 137, 192) !important;
}

.btn-secondary {
    background: linear-gradient(to bottom, rgb(43, 43, 43) 0%, rgb(18, 95, 119) 25%, rgb(18, 95, 119) 50%, rgb(255, 255, 255) 51%);
    background-size: 400% 400%;
    border: 0.1rem solid rgb(71, 137, 192);
}

.btn-secondary:hover {
    border: 0.1rem solid rgb(92, 182, 255);
    background-position-y: 10%;
}

.btn-secondary:focus:active {
    color: rgb(18, 95, 119) !important;
    background-position-y: 100%;
}

.modal-content {
    border-radius: 1.5rem;
    background: linear-gradient(to bottom, rgb(31, 65, 126) 0%,rgb(15, 32, 63) 100%);
    border: 0.2rem solid rgb(92, 182, 255);
    color: white;
}

.modal-header {
    border-bottom: 0.1rem solid rgb(71, 137, 192);
}

.modal-footer {
    border-top: 0.1rem solid rgb(71, 137, 192);   
}

#menu-select {
    font-size: 2rem;
    color: white;
    border: none;
}

#menu-select:focus, #menu-select:active, #menu-select:focus:active {
    outline: 0 !important;
    box-shadow: none !important;
    border: none !important;
}

.dropdown-menu {
    font-size: 1.5rem;
    background: linear-gradient(to bottom, rgb(31, 65, 126) 0%,rgb(15, 32, 63) 100%);
}

.dropdown-item {
    color: white;
}

.menu-select-dropdown {
    border: 0.1rem solid rgb(71, 137, 192);
}

.menu-hide {
    display: none;
}

.input-group-text, .form-control, .form-control:focus {
    border: 0.1rem solid rgb(71, 137, 192);
    background-color: rgb(15, 32, 63);
    color: white;
    font-size: 1.5rem;
}

.form-control:disabled {
    border: 0.1rem solid rgb(71, 137, 192);
    background-color: rgb(15, 32, 63);
    color: rgb(197, 197, 197);
}

h4 {
    margin-left: 0.5rem;
}

#summon {
    border-top-left-radius: 1.75rem;
    width: 8rem;
}

.text-shadow {
    text-shadow: -0.1rem -0.1rem 0 #000, 0.1rem -0.1rem 0 #000, -0.1rem 0.1rem 0 #000, 0.1rem 0.1rem 0 #000;
}

.banner {
    font-size: 2.5rem;
    width: 32.75rem;
    color: white;
    background-color: rgb(31, 65, 126);
    background-size: 32.75rem;
    animation: banner-scroll 5s ease-in-out infinite;
    transition: all .2s ease; 
}

@keyframes banner-scroll {
    0% { background-position-y: 10%; }
    50% { background-position-y: 90%; }
    100% { background-position-y: 10%; }
}

.banner-menu {
    border: 0.25rem solid rgb(31, 65, 126);
}

.banner-item {
    font-size: 2rem;
    width: 26rem;
    border: none;
    background: none;
    background-size: 0;
    transition: all 0s; 
}

.banner:hover {
    color: white;
    text-shadow: -0.1rem -0.1rem 0 #000, 0.1rem -0.1rem 0 #000, -0.1rem 0.1rem 0 #000, 0.1rem 0.1rem 0 #000;
}

.banner-item:hover {
    background-size: 26rem;
    background-position-x: 0rem;
    transform: scale(1.1);
}

.banner-bg-normal {
    background-image: url("assets/normal-banner.png");
}

.banner-bg-mystic {
    background-image: url("assets/mystic-banner.png");
}

.banner-bg-moonlight {
    background-image: url("assets/moonlight-banner.png");
}

.banner-bg-rateup {
    background-image: url("assets/luluca-banner.png");
}

.banner-bg-limited {
    background-image: url("assets/baiken-banner.png");
}

.grid-container {
    background: linear-gradient(to bottom, rgb(31, 65, 126) 0%,rgb(15, 32, 63) 100%);
    border-radius: 1.75rem;
}

.summon-grid {
    padding: 1rem; 
    content: "";
    display: block;
    clear: both;
}

.grid-placeholder {
    height: 23rem;
}

.grid-placeholder-text {
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 2.5%;
    width: 30rem;
}

.link, .link:hover {
    color: rgb(187, 241, 255);
}

.summon-card {
    float: left;
    position: relative;
    margin: 0;
    margin: 0 1rem 1.5rem 0;
    width: 26rem;
}

.summon-card-image {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 9rem;
    border-radius: 1rem;
    border: 0.2rem solid rgb(92, 182, 255);
}

.summon-card-image:hover {
    transition: all .25s ease; 
    border-color: rgb(255, 231, 92);
    animation: none;
}

.summon-card-image:hover .unit-img {
    transform: scale(1.1);
}

.rarity-3 {
    border: 0.2rem solid rgb(92, 182, 255);
}

.rarity-4 {
   border: 0.4rem solid rgb(217, 92, 255); 
   animation: rarity-4 1s ease-in-out infinite;
}

@keyframes rarity-4 {
    0% { border-color: rgb(217, 92, 255); }
    50% { border-color: rgb(135, 0, 177); }
    100% { border-color: rgb(217, 92, 255); }
}

.rarity-5 {
    border: 0.4rem solid rgb(255, 92, 92);
    animation: rarity-5 1s ease-in-out infinite;
}

@keyframes rarity-5 {
    0% { border-color: rgb(255, 92, 92); }
    50% { border-color: rgb(177, 0, 0); }
    100% { border-color: rgb(255, 92, 92); }
}

[data-type] .unit-img {
    position: relative;
    z-index: 2;
    transition: all .25s ease;
}

[data-type="hero"] .unit-img {
    left: 7.5rem;
}

.color-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.unit-bg { 
    z-index: 1;
    background: linear-gradient(to bottom, rgb(31, 65, 126) 0%,rgb(23, 110, 174) 100%);
}

.unit-overlay {
    z-index: 5;
    background: linear-gradient(to bottom, rgba(22,46,90,1) 0%, rgba(16,76,122,1) 100%);
    opacity: 1;
}

.unit-loaded {
    transition: all .5s ease; 
    opacity: 0;
}

.load-icon {
    position: absolute;
    z-index: 10;
    opacity: 1;
    bottom: -5.5rem;
    left: 3rem;
    transform: scale(0.3);
    transition: all .5s ease; 
}

.summon-load-icon {
    width: 3rem;
    height: 3rem;
}

.load-icon-hide {
    transform: scale(0);
}

.name-div {
    position: absolute;  
    top: 0.25rem;
    left: 0.75rem;
    z-index: 3;
}

.class-icon {
    object-fit: contain;
    height: 2.5rem;
}

.unit-name {
    display: inline-block;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    font-size: 1.5rem;
    color: white;
}

.attribute-div {
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;
    z-index: 3;
}

.element-icon {
    object-fit: contain; 
    height: 2rem;  
}

/* Yeah this copy-paste method sucks and is redundant. Idk how to SCSS */

[class*=star-] {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    background-repeat: no-repeat;
}

.star-3 {
    width: 3.825rem;
    height: 1.45rem;
    background-size: 1.5rem 1.45rem;
    background-image: url(https://assets.epicsevendb.com/star/cm_icon_star.png),url(https://assets.epicsevendb.com/star/cm_icon_star.png),url(https://assets.epicsevendb.com/star/cm_icon_star.png);
    background-position-x: 2.325rem,1.2rem,.075rem;
    background-position-y: 100%;
}

.star-4 {
    width: 5.25rem;
    height: 1.45rem;
    background-size: 1.5rem 1.45rem;
    background-image: url(https://assets.epicsevendb.com/star/cm_icon_star.png),url(https://assets.epicsevendb.com/star/cm_icon_star.png),url(https://assets.epicsevendb.com/star/cm_icon_star.png),url(https://assets.epicsevendb.com/star/cm_icon_star.png);
    background-position-x: 3.75rem,2.625rem,1.5rem,.375rem;
    background-position-y: 100%;
}

.star-5 {
    width: 6rem;
    height: 1.45rem;
    background-size: 1.5rem 1.45rem;
    background-image: url(https://assets.epicsevendb.com/star/cm_icon_star.png),url(https://assets.epicsevendb.com/star/cm_icon_star.png),url(https://assets.epicsevendb.com/star/cm_icon_star.png),url(https://assets.epicsevendb.com/star/cm_icon_star.png),url(https://assets.epicsevendb.com/star/cm_icon_star.png);
    background-position-x: 4.5rem,3.375rem,2.25rem,1.125rem,0;
    background-position-y: 100%;
}